PORT=8000
CORS_ORIGIN=*

MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>

ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_EXPIRY=10d

SERVER_URL=http://localhost:8000
FORGOT_PASSWORD_REDIRECT_URL=http://localhost:5173/reset-password

MAILTRAP_SMTP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_SMTP_PORT=2525
MAILTRAP_SMTP_USER=your_mailtrap_user
MAILTRAP_SMTP_PASS=your_mailtrap_password

EMAIL_FROM=your.email@example.com
